body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "TbcRegular";
    src: local("tbc"),
    url("public/fonts/TBCRegular.ttf") format("truetype");
}
@font-face {
    font-family: "TbcHeader";
    src: local("tbc"),
    url("public/fonts/TBCHeader.ttf") format("truetype");
}@font-face {
    font-family: "TbcBolder";
    src: local("tbc"),
    url("public/fonts/TBCBolder.ttf") format("truetype");
}

nav{
    width: 100%;
    padding: 20px 0;

    background-color: rgb(26, 30, 31);
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    position: fixed;
    justify-content: center;
    gap: 350px;
    top: 0;


}

nav img{
    height: 40px;
}

#links{
    width: 454px;
    /*background-color: red;*/

    color:white;
    display: flex;
    gap:48px;
    flex-shrink: 0;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
    font-family: TbcRegular,sans-serif;

}


.navLinks{
    cursor: pointer;
    transition: color 0.4s ease;
    margin: 0;
}

.navLinks:hover{
    color: rgb(0, 163, 224);
}

.currentPage{
    color: rgb(0, 163, 224);
}


#infoSection{
    margin-top: 84px;
    margin-bottom: 0;
}
#infoSection header{
    height: 352px;
    width: 100%;
    background-image: url("./public/HomeImage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

#infoSection header h1{
    margin: 0;
    margin-bottom: 40px;
    width: 980px;
    color: white;
    font-family: TbcHeader,monospace;
    font-size: 42px;
}
#infoSection header span{
    margin-top: 8px;
    display: block;
    font-size: 36px;
    font-weight: 400;

}

#infoSection section{
    margin: 0;
    width: 100%;
    height: 465px;
    background-color: rgb(43, 43, 43);
    box-sizing: border-box;
    padding-top: 65px;
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
}

#infoSection section p{

    color: white;
    font-size: 28px;
    font-family: TbcRegular,sans-serif;
    margin-top: 0;
    line-height: 44.8px;
    margin-bottom: 45px;
}


#sectionTextContainer{
    width: 980px;
    margin: auto;
}

#sectionTextContainer a{
    width: 25px;
    text-decoration: none;
    color: rgb(0, 174, 243);
    font-size: 20px;
    font-family: TbcBolder,sans-serif;
}

#coursesSection{
    background-color: rgb(22, 22, 22);
    width: 100%;
    display: flex;
    justify-content: center;

}

.container{
    width: 980px;
    /*background-color: red;*/

}

.container h2{
    color: white;
    font-family: TbcRegular,sans-serif;
}
