body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "TbcRegular";
    src: local("tbc"),
    url("public/fonts/TBCRegular.ttf") format("truetype");
}

@font-face {
    font-family: "TbcHeader";
    src: local("tbc"),
    url("public/fonts/TBCHeader.ttf") format("truetype");
}

@font-face {
    font-family: "TbcBolder";
    src: local("tbc"),
    url("public/fonts/TBCBolder.ttf") format("truetype");
}

@font-face {
    font-family: "TBCMedium";
    src: local("tbc"),
    url("public/fonts/TBCMedium.ttf") format("truetype");
}

/*navigation*/

#navigation {
    width: 100%;
    padding: 20px 0;
    z-index: 1000;

    background-color: rgba(26, 30, 31, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    /*justify-content: center;*/
    /*gap: 350px;*/
    top: 0;
    transition: background-color 0.4s ease;


}


#navigation img {
    height: 40px;
}

#links {
    width: 454px;
    /*background-color: red;*/

    color: white;
    display: flex;
    gap: 48px;
    flex-shrink: 0;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
    font-family: TbcRegular, sans-serif;

}


.navLinks {
    cursor: pointer;
    transition: color 0.4s ease;
    margin: 0;
}

.navLinks:hover {
    color: rgb(0, 163, 224);
}

/*info section*/

.currentPage {
    color: rgb(0, 163, 224);
}


#infoSection {
    margin-top: 84px;
    margin-bottom: 0;
}

#infoSection header {
    height: 352px;
    width: 100%;
    background-image: url("./public/HomeImage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

#infoSection header h1 {
    padding: 25px;

    width: 980px;
    color: white;
    font-family: TbcHeader, monospace;
    font-size: 42px;
    line-height: 67.2px;
    /*background-color: red;*/
}

#infoSection header span {
    /*line-height: 67.2px;*/
    margin-top: 8px;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    font-family: TbcHeader, sans-serif;



}

#infoSection section {
    margin: 0;
    width: 100%;
    /*height: 465px;*/
    background-color: rgb(43, 43, 43);
    box-sizing: border-box;
    /*padding-top: 30px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
}

#infoSection section p {

    color: white;
    font-size: 28px;
    font-family: TbcRegular, sans-serif;
    margin-top: 0;
    margin-bottom: 45px;
}


#sectionTextContainer {
    /*background-color: red;*/
    line-height: 44.8px;
    padding: 55px 25px;
    width: 980px;
    margin: auto;
}

#sectionTextContainer a {
    width: 25px;
    text-decoration: none;
    color: rgb(0, 174, 243);
    font-size: 20px;
    transition: color 0.4s;
    font-family: TbcBolder, sans-serif;
}

#sectionTextContainer a:hover {
    color: #aaaa;

}

#coursesSection {
    background-color: rgb(22, 22, 22);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 57px;

}

.container {
    padding-top: 15px;
    width: 980px;
    /*background-color: red;*/
    padding-right: 25px;
    padding-left: 25px;

}

.container h2 {
    color: #DBDBDB;
    font-family: TbcRegular, sans-serif;
    font-weight: initial;

}

.container #coursesContainer {
    margin-top: 66px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;


    /*background-color: red;*/
}

.courseCard {
    /*margin-top: 23px;*/
    box-sizing: border-box;
    width: 300px;
    height: 414px;
    border: 1px solid #555555;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.courseCard section {
    padding: 15px 20px;
}

.courseCard section p {
    margin-top: 25px;
    font-size: 14px;
    font-family: TbcRegular, sans-serif;
    font-weight: 400;

}

.courseCard section h3 {
    color: rgb(244, 244, 244);
    font-size: 18px;
    font-family: TbcRegular, sans-serif;
    font-weight: initial;
}

.courseCard section a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 174, 239);
    font-family: TBCMedium, sans-serif;
    /*font-weight: 400;*/
    transition: color 0.4s ease;

}

.courseCard section a:hover {
    color: #0080b0;
}

.courseLink {
    display: flex;
    align-items: center;
    /*background-color: red;*/
    position: absolute;
    bottom: 30px;

}

#partnersSection {
    width: 100%;
    background-color: #2b2b2b;
    position: relative;
    box-sizing: border-box;
    height: 363px;
    display: flex;
    justify-content: center;
}

.partnersContainer {
    max-width: 980px;
    width: 80vw;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /*gap:10vw;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1s ease;

    /*background-color: red;*/


}

#slider {
    /*background-color: red;*/
    display: flex;
    margin: auto;
    justify-content: center;

}

#buttonLeft {
    left: 6vw;
    width: 20px;

}

#buttonRight {
    right: 6vw;
    width: 20px;
    transform: scaleX(-1);

}

.partnersButton {
    top: 50%;
    position: absolute;
    stroke: white;
    cursor: pointer;
}

.partnersButton:hover {
    stroke: #969494;
}

#partners3 {
    justify-content: center;
}

#sliderBalls {
    width: 54px;
    height: 25px;
    /*background-color: red;*/
    margin: auto;
    position: absolute;
    transform: translateX(-50%);
    top: 75%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

}

.ball {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
}


#questionsSection {
    width: 100%;
    /*min-height:484px ;*/
    background-color: rgb(22, 22, 22);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 85px 25px;

}

#questionsContainer {
    width: 865px;

    /*background-color: red;*/
}

#questionsContainer header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
    align-items: center;
    box-sizing: border-box;

}

#questionsContainer header h2 {
    color: #f4f4f4;
    font-family: TbcRegular, sans-serif;
    font-weight: 400;
}

#questionsContainer a {
    /*background-color: yellowgreen;*/
    text-decoration: none;
    color: rgb(0, 174, 243);
    font-size: 20px;
    transition: color 0.4s;
    font-family: TbcBolder, sans-serif;

}

#questionsContainer a:hover {
    color: #aaaa;
}

#questions div {
    border-bottom: 1px solid #353131;
    /*padding: 10px;*/
    overflow-y: hidden;

}


.question {
    /*max-height:aut;*/
    max-height: 84px;
    height: auto;
    transition: max-height 0.5s ease;

}


.questionName {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.questionName img {
    cursor: pointer;
}

#questions div h3 {
    color: rgb(244, 244, 244);
    font-size: 18px;
    font-family: TbcRegular, sans-serif;
    font-weight: initial;
    margin-top: 30px;
}

.closed {
    width: 84px;
}

.expanded article {
    font-family: TbcRegular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 35px;
}

.expanded article main {
    padding: 25px 15px 0 25px;
    line-height: 28px;
    margin-bottom: 50px;
    /*background-color: red;*/
}

.expanded article header {
    line-height: 28px;
}


footer {
    background-color: #1a1e1f;
    width: 100%;
    /*height: 500px;*/
    display: flex;

    padding: 64px 25px;
    box-sizing: border-box;


}

footer section {
    width: 980px;
    display: flex;
    /*background-color: yellowgreen;*/
    margin: auto;
    justify-content: space-between;
    font-size: 14px;
    font-family: TbcRegular, sans-serif;

}

footer section a {
    font-size: 14px;
    font-family: TbcRegular, sans-serif;
    text-decoration: none;
    color: white;
}

footer button {
    padding: 7px 32px;
    border-radius: 6px;
    border: none;
    background-color: #00aef3;
    color: white;
    font-size: 16px;
    font-family: TbcRegular, sans-serif;
    cursor: pointer;
    transition: all 0.4s ease;
    flex-shrink: 0;

}

footer button:hover {
    background-color: #d5d5d5;
    color: #353131;
}


@media only screen and (max-width: 980px) {

    #partnersSection {
        height: 450px;
    }

    .partnersContainer {
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;
        /*background-color: red;*/
    }

    #partners3 {
        top: 175px;
    }

    #sliderBalls {
        margin-top: 75px;
    }

    h2 {
        text-align: center;
    }






}

@media only screen and (max-width: 688px){
    .partnersButton{
        display: none;
    }
    .courseCard{
        height: 310px;
    }
    .courseCard section{
        padding: 0 20px;
    }
    .courseCard section p{
        margin-top: 10px;
    }

    .courseCard section h3{
        font-size: 16px;
    }

    .container #coursesContainer{
        margin-top: 25px;
    }

    #sectionTextContainer{
        padding: 25px 25px;
    }

    #infoSection section p {
        font-size: 4.5vw;
        line-height: 8vw;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 470px){
    #infoSection header h1{
        text-align: center;
    }
}